<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="epsilongtmyon.sandbox.sandbox01.xml.MyLogXmlMapper">

  <!-- 主キー自動生成 -->
  <insert id="insert" parameterType="epsilongtmyon.common.db.entity.MyLog" useGeneratedKeys="true" keyProperty="seq" keyColumn="SEQ">
insert into MY_LOG (
   LOG_MESSAGE
  ,CREATED_AT
  ,UPDATED_AT
) values (
   #{logMessage, jdbcType=VARCHAR}
  ,#{createdAt, jdbcType=TIMESTAMP}
  ,#{updatedAt, jdbcType=TIMESTAMP}
)
  </insert>
  
</mapper>